.loader {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader .spinner {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #ddd;
    border-top: 10px solid red;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
.loader {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}